{% extends 'base.html' %}
{% block content %}

<h1>Users Profile</h1>
<div>
  <div>

      <p>Name: {{ profile.user }}</p>
      <p>Age: {{ profile.birth_date }}</p>
      <p>Gender: {{ profile.gender }}</p>
      <p>Location: {{ profile.location }}</p>
      <p>Ethnicity: {{ profile.ethnicity }}</p>
      <p>height: {{ profile.height }}</p>
      <p>Looking For: {{ profile.looking_for }}</p>
      <p>Relationship Goal: {{ profile.relationship_type }}</p>
      <p>Kids?: {{ profile.kids }}</p>
      <p>Bio: {{ profile.bio }}</p>


    </div>
    <div class="card-action">
      <a href="{% url 'profiles_update' profile.id %}">Edit</a>
      <a href="{% url 'profiles_delete' profile.id %}">Delete</a>

    
    </div>
  </div>

  {% for photo in profile.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}" alt="Profile photo">
{% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
{% endfor %}
<form action="{% url 'add_photo' user.id %}" enctype="multipart/form-data" method="POST" alt="User Photo" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>  
</div>


{% endblock %}