{% extends 'base.html' %}
{% block content %}

{% if user == profile.user %}
  <h1>My Profile</h1>
{% else %}
  <h1>{{ profile.user }}'s Profile</h1>
{% endif %}
<div>
  <div>     
      <p>Age: {{ profile.birth_date }}</p>
      <p>Gender: {{ profile.gender }}</p>
      <p>Location: {{ profile.location }}</p>
      <p>Ethnicity: {{ profile.ethnicity }}</p>
      <p>height: {{ profile.height }}</p>
      <p>Looking For: {{ profile.looking_for }}</p>
      <p>Relationship Goal: {{ profile.relationship_type }}</p>
      <p>Kids?: {{ profile.kids }}</p>
      <p>Bio: {{ profile.bio }}</p>
    </div>
    {% if profile.user == user %}
    <div class="card-action">
      <a href="{% url 'profiles_update' profile.id %}">Edit</a>
      <a href="{% url 'profiles_delete' profile.id %}">Delete</a>
    </div>
    {% endif %}
  </div>

  {% for photo in profile.photo_set.all %}
  <img class="responsive-img card-panel" src="{{photo.url}}" alt="Profile photo">
  {% empty %}
  <div class="card-panel teal-text center-align">No Photos Uploaded</div>
  {% endfor %}
  {% if profile.user == user %}
  <form action="{% url 'add_photo' %}" enctype="multipart/form-data" method="POST" alt="User Photo" class="card-panel">
  {% csrf_token %}
  <input type="file" name="photo-file">
  <br><br>
  <input type="submit" class="btn" value="Upload Photo">
</form>  
  {% endif %}
</div>


<div class="row">
  <div class="col s12">
    <h3>{{ profile.user }}'s Comments</h3>
    <form action="{% url 'add_comment' profile.id %}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_p }}
      <input type="submit" value="Submit!" class="btn">
    </form>
    <br>
    <table class="striped">
      <thead>
        <tr>
          <th>Date </th>
          <th>Comment</th>
          <th>User</th>
        </tr>
      </thead>
      {% for comment in profile.comment_set.all %}
        <tbody>
            <tr>
              <td>{{comment.date}}</td>
              <td>{{comment.comment}}</td>
              <td>{{comment.user}}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

{% endblock %}