{% extends 'base.html' %}
{% block content %}

<h1>Find a Match</h1>
<section id="match-column">
{% for profile in profiles %}
  <div class="card" id="potentialmatchbar">
    <a href="{% url 'detail' profile.id %}">
      <div class="card-content" id="potentialmatchbar-content" >
        <span class="card-title">{{ profile.user }}</span>
        <p>Gender: {{ profile.gender }}</p>
        <p>Located in: {{ profile.location }}</p>
          <p>Birthday: {{ profile.birth_date }}</p>
       
      </div>
    </a>
  </div>
{% endfor %}
</section>
{% endblock %}