{% extends 'base.html' %}
{% block content %}
<div class="home">
<h1>function findLove()</h1>
</div>

<section class="examples">
  <div class="card">
    <div class="card-body" id="slide">
      <h5 class="card-title">Ron & the Giant Toe.</h5>
      <p class="card-text">My foot fetish with Maroofs toesie woesies < 3 .</p>
    </div>
    <div class="card-body1" id="slide">
      <h5 class="card-title">Mr.Junior & Maroofy Doofy.</h5>
      <p class="card-text">Dating website used by programmers when they dont want to explain what they did to fall in love.</p>
    </div>
    <div class="card-body2" id="slide">
    <h5 class="card-title">EJ & Left.</h5>
    <p class="card-text">Somethings my lefty cant do =v.v= .</p>
  </div>
</div>
</section>

{% comment %} <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Hi I'm Ej and I created this site</h1>
        <p class="Signup">I only created this modal to give a shameless plug so here's my <a href="https://www.twitch.tv/azn_coffeewafer" >Twitch</a></p>
</div> {% endcomment %}
<script> 
    const modal = document.getElementById("myModal");
    const btn = document.getElementById("myBtn")
    const span = document.getElementsByClassName("close")[0];
    
    span.onclick = function() {
        modal.style.display= "none"
    }
    window.onclick = function(event) {
        if (event.target == modal){
            modal.style.display = "none"
        }
    }
</script>
{% endblock %}
