{% extends 'base.html' %}
{% block content %}
<div class="home">
<h1>function findLove()</h1>
</div>

<section class="examples">
  <div class="card">
    <div class="card-body" id="slide">
      <h5 class="card-title">Sandy and Danny.</h5>
      <p class="card-text"> We had been high school sweethearts, thought I would
        never see him again. We found each other through Developers Meet.</p>
    </div>
    <div class="card-body1" id="slide">
      <h5 class="card-title">Rosa and Jackson.</h5>
      <p class="card-text">Matched on Developers Meet while on a cruise from England to New York. 
      </p>
    </div>
    <div class="card-body2" id="slide">
    <h5 class="card-title">Pat and Tiffany.</h5>
    <p class="card-text">Developers App brought us together. We are going on 5 years of marriage.</p>
  </div>
</div>
</section>

{% comment %} <div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h1>Hi I'm Ej and I created this site</h1>
        <p class="Signup">I only created this modal to give a shameless plug so here's my <a href="https://www.twitch.tv/azn_coffeewafer" >Twitch</a></p>
</div> {% endcomment %}
<script> 
    const modal = document.getElementById("myModal");
    const btn = document.getElementById("myBtn")
    const span = document.getElementsByClassName("close")[0];
    
    span.onclick = function() {
        modal.style.display= "none"
    }
    window.onclick = function(event) {
        if (event.target == modal){
            modal.style.display = "none"
        }
    }
</script>
{% endblock %}
