body {
    background-color:#5F7161;
    color: #ffffff;
}
h1 {
    text-align: center;
}

#signup {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #6d8b74;
    width: 450px;
    padding: 10px;
    border: 5px solid #EFEAD8;
    border-radius: 25px;
}
#signup-info {
    color: white;
}
p > label {
    color:white;
}
.btn {
    background-color: #D0C9C0;
    font-size: 20px;
}
.btn:hover {
    background-color: black;
}
.card {
    background-color: #708572;
    max-height: 250px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
  }

  .card-body {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      /* animation: slider 15s infinite; */

      
  }
  .card-body1 {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      /* animation: slider 15s infinite; */

  }
  .card-body2 {
      display: flex;
      text-align: center;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      /* animation: slider 15s infinite; */

  }
  
  .card .card-title {
      margin: 24px;
      font-size: 24px;
      font-weight: bold;
  }
  
  p.card-text {
      margin: 34px;
  }

/* slide function to examples */
.examples {
    position: relative;
    width: auto;
    height: 400px;
    display: flex;
    flex-direction: row;
  
}

.examples .card {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: space-evenly;
    overflow: hidden;
}
.examples .card #slide {
    position: relative;
    width: auto;
    height: 100%;
    float: left;
    overflow: hidden;
    animation: slider 15s infinite;

}
.examples .card .card-title #slide {
  display: inline;
  width: 100%;
  height: 100%;
  animation-delay: 4s
}

@keyframes slider {
    0%, 25%, 100%{left: 0}
    
    30%, 55%{left: -100%}
    
    60%, 85%{left: -200%}
}

/* card2 */
.card2 {
    background-color: #708572;
    max-height: 250px;
    border: 1px solid #ddd;
    display: flex;
    overflow-x: auto;
  }

  .card-body3 {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* animation: slider 15s infinite; */

}
/* end */

.nav-wrapper {
    background-color: #6d8b74;
    
}
nav .brand-logo{
    color: #D0C9C0;
}

nav ul a {
    padding: 0 20px;
    color: #D0C9C0;
}

.right {
    color: #D0C9C0;
}


.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgb(0,0,0,0.4);
    animation: fadeIn ease 3s;
  
  }
  .modal-content {
      background-color: #fefefe;
    margin: 15% auto;
    padding: 20px 20px 40px 40px;
    border: 5px solid white;
    border-radius: 25px;
    width: 200px;
    background-image: linear-gradient(to right, #be97be, #b8e2e0);
    
}

.home {
    display: flex ;
    justify-content: center; 
    padding: 500px ;
    width: 100%;
    background: rgba(0, 0, 0, 0.4) url("https://media.xogrp.com/images/39e394e8-68f4-45cc-8f75-df150fbc01dc~rt_0-cr_6.204.1242.822?compress=true");
    background-repeat: no-repeat;
    background-size: cover;
    left: 0px;
    top: 64px;
    color:white;
    font-size: 100px;
    background-blend-mode: darken;
}

.home h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid orange; /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .11em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
/* .examples {
    height:24rem;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    bottom: 0;
    position: relative;
    gap: 20px;
    color:#5F7161;
} */

.page-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 30px;
    background-color: #6d8b74;

}
#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.aboutStuff {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #D0C9C0;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
.aboutStuff > p {
    font-size: 25px;
}
.aboutStuff > button {
    text-decoration: none;
    padding: 10px 30px;
    background-color: #6D8B74;
    border: 2px solid #5F7161;
    color: black;
    border-radius: 25px;
}
.aboutStuff > button > a {
    color: black;
}
.aboutStuff > button:hover {
    background-color: white;
}
.aboutStuff > button > a:hover {
    color:rgba(0, 0, 0, 0.4);
}
.profile-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.profile-title {
    background-color: #D0C9C0;
    width: 350px;
    border: 2px solid #EFEAD8;
    border-radius: 25px;
}
#form-answers {
    background-color: #D0C9C0;
    width: 350px;
    padding-bottom: 15px;
    border: 2px solid #EFEAD8;
    border-radius: 25px;
    text-align: center;
    font-size: 20px;
}
#form-answers > div > p {
    margin-top: 25px;
}
#form-details {
    display: grid;
    grid-template-columns: 50% 50%;
}
#CRUD {
     margin-top: 15vh; 
} 
#edit {
    margin-right: 20px;
    background-color: #5F7161;
    padding: 10px 25px 10px 25px;
    text-align: center;
    border: 2px solid #6d8b74;
    border-radius: 35px;
    color: white;
}
#delete {
    background-color: #5F7161;
    padding: 10px 25px 10px 25px;
    text-align: center;
    border: 2px solid #6d8b74;
    border-radius: 35px;
    color: white;

}
#image-border {
    background-color: #D0C9C0;
    border: 2px solid #EFEAD8;
    border-radius: 25px;

}
#imageform {
    background-color: #D0C9C0;
    border: 2px solid #EFEAD8;
    border-radius: 25px;
   
}
#Comments {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    background-color: #D0C9C0;
    border: 2px solid #EFEAD8;
    border-radius: 25px;
    padding-bottom: 200px;
}
#match-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
#potentialmatchbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
}
#potentialmatchbar-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#potentialmatchbar-content > p , span {
    color: #fefefe;
}
@keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange; }
  }